GPML2021.xsd

<xsd:schema targetNamespace="http://pathvisio.org/GPML/2013a"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:gpml="http://pathvisio.org/GPML/2013a"
	elementFormDefault="qualified"
	>
	
	<!-- Graphical Pathway Markup Language version 2021 -->

	<!-- 
	     Type Definitions 
         This block declares all the properties which would then be attached
         to elements in the GPML hierarchy:
		 - attributeGroups: FontAttributes,RectAttributes, LineStyleAttributes, ShapeStyleAttributes
		 - simpleTypes: RotationType, ColorType, StyleType, Dimension
		 - element group: CommentGroup
    --> 
			
	<xsd:attributeGroup name="FontAttributes">
		<xsd:annotation>
			<xsd:documentation>
				Common font properties. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="textColor" type="gpml:ColorType" default="White">
			<xsd:annotation>
				<xsd:documentation>
					The color of text, e.g. label.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fontName" default="Arial" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>
					The name of the set of printable text characters to be used for visualization.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fontStyle" default="Normal">
			<xsd:annotation>
				<xsd:documentation>
					The typographic style or font face applied to displayed text, e.g., Arial.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Italic"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontDecoration" default="Normal">
			<xsd:annotation>
				<xsd:documentation>
					The typographic style for underline or normal.  
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Underline"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontStrikethru" default="Normal">
			<xsd:annotation>
				<xsd:documentation>
					The typographic style for strikethru or normal.  
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Strikethru"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontWeight" default="Normal">
			<xsd:annotation>
				<xsd:documentation>
					Thickness of the font used, e.g a bold font would
					have more weight. Used for DataNodes, Labels and Shapes.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Bold"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontSize" type="xsd:nonNegativeInteger"
			default="12">
			<xsd:annotation>
				<xsd:documentation>
					The point value for the size of the font.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hAlign" default="Center">
			<xsd:annotation>
				<xsd:documentation>
					Horizontal alignment of displayed text, e.g., Left, Center, Right.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Left"/>
					<xsd:enumeration value="Center"/>
					<xsd:enumeration value="Right"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="vAlign" default="Middle">
			<xsd:annotation>
				<xsd:documentation>
					Vertical alignment of displayed text, e.g., Top, Middle, Bottom.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Top"/>
					<xsd:enumeration value="Middle"/>
					<xsd:enumeration value="Bottom"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="RectAttributes">
		<xsd:annotation>
			<xsd:documentation>
				Centering(position) and dimension attributes for an object.  
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="centerX" type="xsd:float" use="required">
					<xsd:annotation>
				<xsd:documentation>
					Middle of a given object in the x-direction.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="centerY" type="xsd:float" use="required">
		<xsd:annotation>
				<xsd:documentation>
					Middle of a given object in the y-direction.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="width" type="gpml:Dimension" use="required">
			<xsd:annotation>
				<xsd:documentation>
					The pixel value for the x-dimensional length of a given object.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="height" type="gpml:Dimension" use="required">
		<xsd:annotation>
				<xsd:documentation>
					The pixel value for the y-dimensional length of a given object.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>	
	</xsd:attributeGroup>

	<xsd:attributeGroup name="LineStyleAttributes">
		<xsd:annotation>
			<xsd:documentation>
				Visual appearance of a line. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="lineColor" type="gpml:ColorType" default="Black">
			<xsd:annotation>
				<xsd:documentation>
					The color of a line.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lineStyle" type="gpml:StyleType" default="Solid" >
			<xsd:annotation>
				<xsd:documentation>
					The visual appearance of a line, e.g. Solid or Broken.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lineWidth" type="xsd:float" default="1.0" >
			<xsd:annotation>
				<xsd:documentation>
					The pixel value for the width of a given line.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="connectorType" type="xsd:string" use="optional" default="Straight">
			<xsd:annotation>
				<xsd:documentation>
					Specifies a set of rules to govern layout of Graphical Lines and Interactions.
					PathVisio (Java): Line Type and GPML: ConnectorType
					e.g. Curved, Elbow, Segmented, Straight
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The order of a given object.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="ShapeStyleAttributes">
		<xsd:annotation>
			<xsd:documentation>
				Visual appearance of a two-dimensional object.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="borderColor" type="gpml:ColorType" default="Black">
			<xsd:annotation>
				<xsd:documentation>
					The color of a border
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="borderStyle" type="gpml:StyleType" default="Solid">
			<xsd:annotation>
				<xsd:documentation>
					The visual appearance of a border, e.g. Solid or Broken.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="borderWidth" type="xsd:float" default="1.0">
			<xsd:annotation>
				<xsd:documentation>
					The pixel value for the width of a given border.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fillColor" type="gpml:ColorType" default="White">
			<xsd:annotation>
				<xsd:documentation>
					The color used to paint the area of an object, not including its border.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="shapeType" type="xsd:string" default="Rectangle">
			<xsd:annotation>
				<xsd:documentation>
					The visual appearance of an object, e.g. Rectangle.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The order of a given object.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>


	<!-- 
		2017 added attributeGroup IdentifierRefGroup and RelativeCoordinates
	--> 

	<xsd:simpleType name="RotationType">
		<xsd:annotation>
			<xsd:documentation>
				 A float value (rotation in radians) or a string (Top, Right, Bottom, Left) 
				 for each of the four right angles.
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Top"/> <!-- rotation of 0.0 !-->
					<xsd:enumeration value="Right"/> <!-- rotation of 1/2 pi !-->
					<xsd:enumeration value="Bottom"/> <!-- rotation of 1 pi !-->
					<xsd:enumeration value="Left"/> <!-- rotation of 3/2 pi !-->
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:float"/> <!-- rotation is always measured in radians !-->
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="ColorType">
		<xsd:annotation>
			<xsd:documentation>
				Color as a hexadecimal number, binary code, or string (enumerated colors).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:hexBinary"/>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Aqua"/>
					<xsd:enumeration value="Black"/>
					<xsd:enumeration value="Blue"/>
					<xsd:enumeration value="Fuchsia"/>
					<xsd:enumeration value="Gray"/>
					<xsd:enumeration value="Green"/>
					<xsd:enumeration value="Lime"/>
					<xsd:enumeration value="Maroon"/>
					<xsd:enumeration value="Navy"/>
					<xsd:enumeration value="Olive"/>
					<xsd:enumeration value="Purple"/>
					<xsd:enumeration value="Red"/>
					<xsd:enumeration value="Silver"/>
					<xsd:enumeration value="Teal"/>
					<xsd:enumeration value="White"/>
					<xsd:enumeration value="Yellow"/>
					<xsd:enumeration value="Transparent"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="StyleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Solid"/>
			<xsd:enumeration value="Broken"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Dimension">
		<xsd:annotation>
			<xsd:documentation>
				Dimension for width and height. Cannot be negative values. 
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:group name="CommentGroup">
		<xsd:annotation>
			<xsd:documentation>
				One or more comments, key value attributes, or references. 
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:sequence>
			<xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Descriptions and arbitrary notes for a given object.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="source" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Key-value pair information for a given object.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="key" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>
								Key of a key-value pair.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="value" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>
								Value of a key-value pair.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AnnotationRef" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Refers to an Annotation.  
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="graphRef" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>
								A graphRef indicates a child/parent relationship between objects. 
								The graphRef of the child refers to the graphID of the parent. 
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CitationRef" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Refers to a Citation.  
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="graphRef" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation>
								A graphRef indicates a child/parent relationship between objects. 
								The graphRef of the child refers to the graphID of the parent. 
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	
	<!-- End: Type Definitions -->

	<!-- ###################################################################### -->

	<!-- 
		Pathway 
        This is the root element of the structure, it encloses: 
		- complex type sequence of elements: CommentGroup, Author, Graphics (boardWidth,boardHeight)
		  DataNode, State, Interaction, GraphicalLine, Label, Shape, Group, InfoBox, Legend, Biopax
		- local attributes: name, organism, dataSource, version, license  
	
	-->

	<xsd:element name="Pathway">
		<xsd:annotation>
			<xsd:documentation>
				A graph diagram representing a biological process as a set of interactions
				and relationships among genes, proteins, metabolites, and other factors in
				the context of cellular compartments, tissues and organisms.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Xref" type="gpml:Xref" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="Author" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							The people who created or edited the given pathway.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="name" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>	
				<xsd:group ref="gpml:CommentGroup"/>
				<!-- Graphics related attributes-->
				<xsd:element name="Graphics" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>
							The width and height of a pathway.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="boardWidth" type="gpml:Dimension" use="required"/>				
						<xsd:attribute name="boardHeight" type="gpml:Dimension" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<!-- End Graphics related attributes-->	

				<xsd:element ref="gpml:DataNode" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="gpml:State" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="gpml:Interaction" minOccurs="0" maxOccurs="unbounded"/>
				
				<xsd:element ref="gpml:GraphicalLine" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="gpml:Label" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="gpml:Shape" minOccurs="0" maxOccurs="unbounded"/>
				
				<xsd:element ref="gpml:Group" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="gpml:InfoBox" minOccurs="1" maxOccurs="1" />
				
				<xsd:element ref="gpml:Legend" minOccurs="0" maxOccurs="1"/>
								
				<xsd:element name="Annotation" type="gpml:Annotation" minOccurs="0" maxOccurs="unbounded" />

				<xsd:element name="Citation" type="gpml:Citation" minOccurs="0" maxOccurs="unbounded" />

			</xsd:sequence>

			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The name of a pathway.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="organism" type="xsd:string" use="optional">
				<!-- Organism is not a field in the
						GenMAPP database at this time, but we want to preserve this
						information when importing maps, and also when exporting maps.
						GenMAPP maps have the organism implied from the
						filename. -->
				<xsd:annotation>
					<xsd:documentation>
						The scientific name (e.g., Homo sapiens) of the species 
						being described by the pathway.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="source" type="xsd:string" use="optional">
				<!-- On import to GenMAPP,
						dataSource value could be 'KEGG', 'Cytoscape', etc.  On export
						from GenMAPP, value should be 'GenMAPP' with version
						number. 
					Deprecated in 2017 version
				-->
			</xsd:attribute>
			<xsd:attribute name="version" type="xsd:string" use="optional">
				<!-- GenMAPP version, use for export
					of maps from GenMAPP only. -->
				<xsd:annotation>
					<xsd:documentation>
						The version of a pathway (currently not used in WP).
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>		
			<xsd:attribute name="license" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The license of a pathway.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>		
		</xsd:complexType>
	</xsd:element>
	<!-- End: Pathway -->

	<!-- ###################################################################### -->

	<!-- 
		Data Node 
		The elements with biological context forming the basis of the biological pathway.
		DataNode represents all possible biological entities in a pathway like GeneProduct, 
		Metabolite, Pathway, Protein, RNA, Unknown.
		
		Encloses: 
		- complex type sequence of elements: CommentGroup, Graphics(local), Xref
		- local attributes: graphId, groupRef, textLabel, type
	
	-->
	<xsd:element name="DataNode">
		<xsd:annotation>
			<xsd:documentation>
				Denotes a biological entity that forms a node in a pathway and
				has some biological meaning associated with it. For a list of
				the gpml:DataNode types supported at WikiPathways, see subclasses
				of wp:DataNode or the wpTypes vocabulary defined for use in applications.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Xref" type="gpml:Xref" minOccurs="1" maxOccurs="1"/>
				<!-- Graphics related attributes-->
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>	
						<xsd:attributeGroup ref="gpml:RectAttributes"/>
						<xsd:attributeGroup ref="gpml:FontAttributes"/>
						<xsd:attributeGroup ref="gpml:ShapeStyleAttributes"/>
					</xsd:complexType>
				</xsd:element>
				<!-- End Graphics related attributes-->
				<xsd:group ref="gpml:CommentGroup"/>				
			</xsd:sequence>
            <xsd:attribute name="graphId" type="xsd:ID" use="required" />
            <xsd:attribute name="groupRef" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						A groupRef indicates an object is part of a gpml:Group with a groupId. 
						DataNode, GraphicalLine, Group, Interaction, Label and Shape can be part of a group.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="textLabel" use="required" type="xsd:string"/>
			<xsd:attribute name="type" type="xsd:string" default="Unknown">
				<xsd:annotation>
					<xsd:documentation>
						Basic GPML types are:"Protein", "Rna", "Complex", "GeneProduct", 
						"Metabolite" and "Unknown".
					</xsd:documentation>
				</xsd:annotation>
				<!-- Old versions of GPML only allowed these values for Type: 
				It's recommended that you use these values as often as possible. -->
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- End: DataNode -->

	<!-- ###################################################################### -->

	<!-- 
		State         
		Always linked to a DataNode representing a specific state of the biological 
		entity (e.g. phosphorylation, genetic variants, etc)
		Encloses: 
		- complex type sequence of elements: CommentGroup, Graphics
		  FontAttributes, ShapeStyleAttributes), Xref
		- attributeGroup: FontAttributes, ShapeStyleAttributes
		- local attributes: relX, relY, width, height, graphId, groupRef, textLabel, stateType
	
	-->
	<xsd:element name="State">
		<xsd:annotation>
			<xsd:documentation>
				Always linked to a DataNode representing a specific state of the biological 
				entity (e.g. phosphorylation, genetic variants, etc)
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Xref" type="gpml:Xref" minOccurs="0" maxOccurs="1"/>
				<!-- Graphics related attributes-->
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="relX" type="xsd:float" use="required" />
						<xsd:attribute name="relY" type="xsd:float" use="required" />
						<xsd:attribute name="width" type="gpml:Dimension" use="required" />
						<xsd:attribute name="height" type="gpml:Dimension" use="required" />
						<xsd:attributeGroup ref="gpml:FontAttributes"/>
						<xsd:attributeGroup ref="gpml:ShapeStyleAttributes" />
					</xsd:complexType>
				</xsd:element>
				<!-- End Graphics related attributes-->
				<xsd:group ref="gpml:CommentGroup"/>
			</xsd:sequence>
            <xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="graphRef" type="xsd:IDREF" use="required">
				<xsd:annotation>
					<xsd:documentation>
						A graphRef indicates a child/parent relationship between objects. 
						The graphRef of the child refers to the graphID of the parent. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="groupRef" type="xsd:string" use="optional">			
			<xsd:attribute name="textLabel" use="required" type="xsd:string"/>
			<xsd:attribute name="stateType" type="xsd:string" default="Unknown">
				<xsd:annotation>
					<xsd:documentation>
						Biological modification type, e.g. Phosphorylated, Glycosylated, Activated
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>

	</xsd:element>
	<!-- End: State -->
	
	<!-- ###################################################################### -->

	<!-- 
		Interaction and Graphical Lines together are the only elements which can be used to 
		connect data nodes, for implementing any kind of connections or interactions.
		
		GrapicalLine are graphical annotations without semantic meaning
		
		GraphicalLine element encloses: 
		- complex type sequence of elements: CommentGroup, Graphics(Point, Anchor, LineStyleAttributes)
		- local attributes: groupRef, graphId, type
	
    -->

	<xsd:element name="GraphicalLine">
		<xsd:annotation>
			<xsd:documentation>
				A visual annotation, often used to partition space or connect other annotation,
				e.g., Shapes. GrapicalLine are graphical annotations without semantic meaning
				An Xref cannot be specified for GraphicalLines (in contrast to Interactions).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<!-- Graphics related attributes-->
				<xsd:element name="Point" type="gpml:Point" minOccurs="2" maxOccurs="unbounded" />
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>	
						<xsd:element name="Anchor" type="gpml:Anchor" minOccurs="0" maxOccurs="unbounded" />
						<xsd:attributeGroup ref="gpml:LineStyleAttributes" />
					</xsd:complexType>
				</xsd:element>
				<xsd:group ref="gpml:CommentGroup" />
				<!-- End Graphics related attributes-->
			</xsd:sequence>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="groupRef" type="xsd:string" use="optional" />
			<xsd:attribute name="type" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

	<!-- End: Graphical Line -->

	<!-- ###################################################################### -->

	<!-- 
		Interaction and Graphical Lines together are the only elements which can be used to 
		connect data nodes, for implementing any kind of connections or interactions.
		
		Interaction
		Represent biological relation between entities - should always be attached to DataNodes
		
		Interaction element encloses: 
		- complex type sequence of elements: CommentGroup, Graphics(Point, Anchor,
		  LineStyleAttributes), Xref
		- local attributes: groupRef, graphId, type
	-->
	<xsd:element name="Interaction">
		<xsd:annotation>
			<xsd:documentation>
				Defines the biochemical relationship between DataNodes or with Anchors 
				on other Interactions. An Xref can be specified for Interactions (in contrast 
				to GraphicalLines).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Xref" type="gpml:Xref" minOccurs="1" maxOccurs="1"/>
				<!-- Graphics related attributes-->
				<xsd:element name="Point" type="gpml:Point" minOccurs="2" maxOccurs="unbounded" />
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:element name="Anchor" type="gpml:Anchor" minOccurs="0" maxOccurs="unbounded" />
						<xsd:attributeGroup ref="gpml:LineStyleAttributes" />
					</xsd:complexType>
				</xsd:element>
				<!-- End Graphics related attributes-->
				<xsd:group ref="gpml:CommentGroup" />
			</xsd:sequence>	
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="groupRef" type="xsd:string" use="optional" />
			<xsd:attribute name="type" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	<!-- End: Interaction -->

	<!-- ###################################################################### -->

	<!-- Label 
		An element to attach simple labels to the pathway
		No semantic meaning - graphical attributes
		Label element encloses: 
		- complex type sequence of elements: CommentGroup, Graphics(RectAttributes, 
		  FontAttributes, ShapeStyleAttributes)
		- local attributes: href, graphId, groupRef, textLabel
	-->
	<xsd:element name="Label">
		<xsd:annotation>
			<xsd:documentation>
				A text field which can be used to annotate any aspect of a pathway.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<!--  This is text on a GenMAPP map that
				can have associated comments. -->
			<xsd:sequence>
				<!-- Graphics related attributes-->
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attributeGroup ref="gpml:RectAttributes"/>
						<xsd:attributeGroup ref="gpml:FontAttributes" />
						<xsd:attributeGroup ref="gpml:ShapeStyleAttributes" />
					</xsd:complexType>
				</xsd:element>
				<!-- End Graphics related attributes-->
				<xsd:group ref="gpml:CommentGroup"/>
			</xsd:sequence>
			<xsd:attribute name="href" use="optional" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The hyperlink optionally specified in a Label for a reference to a url.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="groupRef" type="xsd:string" use="optional" />
			<xsd:attribute name="textLabel" use="required" type="xsd:string"/>			
		</xsd:complexType>
	</xsd:element>
	<!-- End: Label -->
	
	<!-- ###################################################################### -->

	<!-- 
		Shape 
	    Graphical elements - shapes with or without a text label
		
		Shape element encloses: 
		- complex type sequence of elements: CommentGroup, Graphics(RectAttributes,
		  FontAttributes, ShapeStyleAttributes, rotation)
		- local attributes: graphId, groupRef, textLabel
	-->
	<xsd:element name="Shape">
		<xsd:annotation>
			<xsd:documentation>
				Shape can refer to two different things in GPML,
				both of which are associated with graphical elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<!-- Graphics related attributes-->
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attributeGroup ref="gpml:RectAttributes"/>
						<xsd:attributeGroup ref="gpml:FontAttributes" />
						<xsd:attributeGroup ref="gpml:ShapeStyleAttributes" />
						<xsd:attribute name="rotation" type="gpml:RotationType" default="Top" />
					</xsd:complexType>
				</xsd:element>
				<xsd:group ref="gpml:CommentGroup" />
				<!-- End Graphics related attributes-->
			</xsd:sequence>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="groupRef" type="xsd:string" use="optional" />
			<xsd:attribute name="textLabel" use="optional" type="xsd:string"/>

		</xsd:complexType>

	</xsd:element>
	<!-- End: Shape -->
	
	<!-- ###################################################################### -->

	<!-- 
		Group 
		Elements in the pathway can be grouped. 
		Basic GPML group styles are: 
		None, Pathway, Group, Complex
		
		Group element encloses: 
		- complex type sequence of elements: CommentGroup, Xref
		- local attributes: graphId, groupRef, textLabel, groupType
	-->
	<xsd:element name="Group">	
		<xsd:annotation>
			<xsd:documentation>
				A collection of structurally or functionally similar or related pathway elements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Xref" type="gpml:Xref" minOccurs="0" maxOccurs="1"/>
				<xsd:group ref="gpml:CommentGroup" />
			</xsd:sequence>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
			<xsd:attribute name="groupRef" type="xsd:string" use="optional" />
			<xsd:attribute name="textLabel" type="xsd:string" use="optional" />
			<xsd:attribute name="groupType" default="Group">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="Group"/>
								<xsd:enumeration value="Complex"/>
								<xsd:enumeration value="Pathway"/>
								<xsd:enumeration value="Analog"/>
								<xsd:enumeration value="Paralog"/>
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- End: Group -->

	<!-- ###################################################################### -->

	<!-- InfoBox -->
	<xsd:element name="InfoBox">
		<xsd:annotation>
			<xsd:documentation>
				InfoBox element holds the coordinates where information (e.g. name and organism) 
				are displayed in the pathway. Currently just a placeholder -- not used.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="centerX" type="xsd:float" use="required"/>
			<xsd:attribute name="centerY" type="xsd:float" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!-- End: InfoBox -->
	
	<!-- ###################################################################### -->

	<!-- Legend -->
	<xsd:element name="Legend">	
		<xsd:annotation>
			<xsd:documentation>
				An explanatory list of the colors used for visualizing data on the pathway. 
				Not currently used.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="centerX" type="xsd:float" use="required"/>
			<xsd:attribute name="centerY" type="xsd:float" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!-- End: Legend -->

	<!-- ###################################################################### -->

	<!-- 
		Xref 
		Reference to a database entry.

		Xref element encloses: 
		- attributes: identifier, dataSource		
	-->
	<xsd:element name="Xref">
		<xsd:annotation>
			<xsd:documentation>
				Reference to a database entry.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="identifier" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						The identifier of a PublicationXref or Xref object.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="dataSource" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>
						Specifies the datasource for the identifier provided as an Xref.
						Equivalent to http://vocabularies.bridgedb.org/ops#DataSource conventional name.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>	 
	<!-- End: Xref -->

	<!-- ###################################################################### -->
	
	<!-- 
		Annotation
		Referred to in the pathway
		
		Annotation element encloses:
		- element: Xref
		- attributes: textLabel, graphId
	-->
	<xsd:element name="Annotation">
		<xsd:annotation>
			<xsd:documentation>
				An annotation reference.
				E.g. ontology terms, evidence, metadata, subcellular location, 
				protein complex, and organism			
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:element name="Xref" type="gpml:Xref" minOccurs="0" maxOccurs="1"/>
			<xsd:attribute name="textLabel" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Text annotation to be visualized. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		</xsd:complexType>
	</xsd:element>
	<!-- End: Annotation -->

	<!-- ###################################################################### -->
	
	<!-- 
		Citation
		Referred to in the pathway
		
		Citation element encloses:
		- element: Xref
		- attributes: url, graphId
	-->
	<xsd:element name="Citation">
		<xsd:annotation>
			<xsd:documentation>
				A literature reference, citation, or work.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:element name="Xref" type="gpml:Xref" minOccurs="0" maxOccurs="1" />
			<xsd:attribute name="url" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						Url or web address of work being cited.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		</xsd:complexType>
	</xsd:element>
	<!-- End: Citation -->

	<!-- ###################################################################### -->

	<!-- 
		Point
		A location in 2-dimensional space defined by x and y coordinates.
		
		Point element encloses: 
		- attributes: x, y, relX, relY, graphRef, graphId, arrowHead
	--> 
	<xsd:element name="Point">
		<xsd:annotation>
			<xsd:documentation>
				A location in 2-dimensional space defined by x and y coordinates.
			</xsd:documentation>
		</xsd:annotation>	
		<xsd:complexType>
			<xsd:attribute name="x" type="xsd:float" use="required" />
			<xsd:attribute name="y" type="xsd:float" use="required" />
			<xsd:attribute name="relX" type="xsd:float" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						When the given point is linked to an object, relX and relY are 
						the relative coordinates on the object, where 0,0 is at the center 
						of the object and 1,1 at the bottom-right corner of the object.    
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="relY" type="xsd:float" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						When the given point is linked to an object, relX and relY are 
						the relative coordinates on the object, where 0,0 is at the center 
						of the object and 1,1 at the bottom-right corner of the object.  
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphRef" type="xsd:IDREF" use="optional" >
				<xsd:annotation>
					<xsd:documentation>
						A graphRef indicates a child/parent relationship between objects. 
						The graphRef of the child refers to the graphID of the parent. 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
	        <!-- Note: only the arrowHead attribute on first and last points are used, the rest is ignored. -->
	        <xsd:attribute name="arrowHead" default="Line" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						Specifies the glyph at the ends of lines and interactions.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- End: Point -->
	
	<!-- ###################################################################### -->

	<!-- 
		Anchor
		A connection point on a graphical line or an interaction
		
		Anchor element encloses: 
		- attributes: position, shapeType, graphID
	--> 
	<xsd:element name="Anchor">
		<xsd:annotation>
			<xsd:documentation>
				A connection point on a graphical line or an interaction, 
				where another graphical line or interaction can be connected.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
	        <xsd:attribute name="position" type="xsd:float" use="required" >
				<xsd:annotation>
					<xsd:documentation>
						Proportional distance of an anchor along the line it belongs to, between 0 and 1.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
	        <xsd:attribute name="shapeType" default="ReceptorRound" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						The visual representation of an anchor, e.g., Circle or None.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="graphId" type="xsd:ID" use="required" />
	    </xsd:complexType>
	</xsd:element>
	<!-- End: Anchor -->


</xsd:schema>
