GPML2017a.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://pathvisio.org/GPML/2017a" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gpml="http://pathvisio.org/GPML/2017a" elementFormDefault="qualified">

	<!-- Graphical Pathway Markup Language version 2017a -->

	<!-- 
	     Type Definitions 
         This block declares all the properties which would then be attached
         to elements in the GPML hierarchy, most of them are intuitive
         like FontAttributes, RotationType, ColorType
    -->


	<xsd:attributeGroup name="FontAttributes">
		<xsd:attribute name="fontName" default="Arial" type="xsd:string"/>
		<xsd:attribute name="fontStyle" default="Normal">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Italic"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontDecoration" default="Normal">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Underline"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontStrikethru" default="Normal">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Strikethru"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontWeight" default="Normal">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Normal"/>
					<xsd:enumeration value="Bold"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="fontSize" type="xsd:nonNegativeInteger" default="12"/>
		<xsd:attribute name="align" default="Center">
			<!-- Horizontal alignment -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Left"/>
					<xsd:enumeration value="Center"/>
					<xsd:enumeration value="Right"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="vAlign" default="Top">
			<!-- Vertical alignment -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Top"/>
					<xsd:enumeration value="Middle"/>
					<xsd:enumeration value="Bottom"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="RectAttributes">
		<xsd:attribute name="centerX" type="xsd:float" use="required"/>
		<xsd:attribute name="centerY" type="xsd:float" use="required"/>
		<xsd:attribute name="width" type="gpml:Dimension" use="required" />
		<xsd:attribute name="height" type="gpml:Dimension" use="required" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="ShapeStyleAttributes">
		<xsd:attribute name="color" type="gpml:ColorType" default="Black"/>
		<xsd:attribute name="lineStyle" type="gpml:StyleType" default="Solid" />
		<xsd:attribute name="lineThickness" type="xsd:float" default="1.0" />
	</xsd:attributeGroup>

	<!-- a rotation is either a float value or a string for each of the four right angles !-->
	<xsd:simpleType name="RotationType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Top"/> <!-- rotation of 0.0 !-->
					<xsd:enumeration value="Right"/> <!-- rotation of 1/2 pi !-->
					<xsd:enumeration value="Bottom"/> <!-- rotation of 1 pi !-->
					<xsd:enumeration value="Left"/> <!-- rotation of 3/2 pi !-->
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:float"/> <!-- rotation is always measured in radians !-->
			</xsd:simpleType>
		</xsd:union>

	</xsd:simpleType>

	<xsd:simpleType name="ColorType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:hexBinary"/>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Aqua"/>
					<xsd:enumeration value="Black"/>
					<xsd:enumeration value="Blue"/>
					<xsd:enumeration value="Fuchsia"/>
					<xsd:enumeration value="Gray"/>
					<xsd:enumeration value="Green"/>
					<xsd:enumeration value="Lime"/>
					<xsd:enumeration value="Maroon"/>
					<xsd:enumeration value="Navy"/>
					<xsd:enumeration value="Olive"/>
					<xsd:enumeration value="Purple"/>
					<xsd:enumeration value="Red"/>
					<xsd:enumeration value="Silver"/>
					<xsd:enumeration value="Teal"/>
					<xsd:enumeration value="White"/>
					<xsd:enumeration value="Yellow"/>
					<xsd:enumeration value="Transparent"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="StyleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Solid"/>
			<xsd:enumeration value="Broken"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- use Dimension for width and height, they can't be negative !-->
	<xsd:simpleType name="Dimension">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<!--TODO: Rename group since it now bundles CitationRefs too-->
    <!-- One or more comments bundled together !-->
	<xsd:group name="CommentGroup">
		<xsd:sequence>
			<xsd:element name="Comment" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="source" type="xsd:string"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<!--
			TODO: is this part really needed?
			<xsd:element name="PublicationXref" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
					<xsd:attribute name="dataSource" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="BiopaxRef" minOccurs="0" maxOccurs="unbounded"/>
			-->
			<!-- Additional information can be added as attribute key value pairs 
				 can be used or ignored by readers -->
			<xsd:element name="Attribute" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="key" type="xsd:string" use="required"/>
					<xsd:attribute name="value" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>

			<!--Citation References for Pathway Elements-->

			<xsd:element name="CitationRef" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>

	<!-- End: Type Definitions -->

	<!-- ###################################################################### -->

	<!-- 
		Pathway 
        This is the root element of the structure, it encloses
        a complex type sequence of Comment, Graphics, DataNode,
        Interaction, Line, Label, Link, Shape, Group, InfoBox,
        Legend, Biopax
	-->

	<xsd:element name="Pathway">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="gpml:CommentGroup"/>

				<xsd:element name="DataNode" type="DataNode" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="State" type="State" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="Interaction" type="Interaction" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="GraphicalLine" type="GraphicalLine" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="Label" type="Label" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="Shape" type="Shape" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="Group" type="Group" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element name="InfoBox" type="InfoBox" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="1" maxOccurs="1" />

				<xsd:element name="Legend" type="Legend" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="1"/>

				<xsd:element name="Citations" type="Citations" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="1"/>

				<xsd:element name="OntologyTerms" type="OntologyTerms" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="1"/>

				<xsd:element name="CitationRefs" type="CitationRefs" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="1"/>

				<xsd:element name="OntologyTermRefs" type="OntologyTermRefs" xmlns="http://pathvisio.org/GPML/2017a" minOccurs="0" maxOccurs="1"/>

			</xsd:sequence>

			<!-- Metadata for the pathway -->
			<xsd:attribute name="name" type="xsd:string" use="required"/>

			<xsd:attribute name="organism" type="xsd:string" use="optional"/>

			<xsd:attribute name="dataSource" type="xsd:string" use="optional"/>

			<xsd:attribute name="version" type="xsd:string" use="optional"/>

			<xsd:attribute name="author" type="xsd:string" use="optional"/>

			<xsd:attribute name="maintainer" type="xsd:string" use="optional"/>

			<xsd:attribute name="email" type="xsd:string" use="optional"/>

			<xsd:attribute name="license" type="xsd:string" use="optional"/>

			<xsd:attribute name="lastModified" type="xsd:string" use="optional">
				<!-- Last modification date, in the form of YYYYMMDD -->
			</xsd:attribute>

			<!-- Not separate elements but a reference to the elements at the end of the GPML -->

			<!-- Graphics related attributes-->
			<xsd:attribute name="boardWidth" type="gpml:Dimension" use="optional"/>
			<xsd:attribute name="boardHeight" type="gpml:Dimension" use="optional"/>
			<!-- End Graphics related attributes-->

		</xsd:complexType>
	</xsd:element>
	<!-- End: Pathway -->

	<!-- ###################################################################### -->

	<!-- 
		Data Node 
        These are the elements with biological context
        forming the basis of the biological pathway
    -->

	<xsd:complexType name="DataNode">
		<!-- DataNode represents all possible biological entities in a pathway
			 like GeneProduct, Metabolite, Pathway, Protein, RNA, Unknown. -->
		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup"/>
			<xsd:element name="Xref" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="dataSource" type="xsd:string" use="required"/>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>

		<!-- Graphics related attributes-->
		<xsd:attributeGroup ref="gpml:RectAttributes"/>
		<xsd:attributeGroup ref="gpml:FontAttributes"/>
		<xsd:attributeGroup ref="gpml:ShapeStyleAttributes"/>
		<xsd:attribute name="fillColor" type="gpml:ColorType" default="White"/>
		<xsd:attribute name="shapeType" type="xsd:string" default="Rectangle"/>
		<xsd:attribute name="backgroundImage" type="xsd:string"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<!-- End Graphics related attributes-->


		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />

		<xsd:attribute name="textLabel" use="required" type="xsd:string"/>

		<xsd:attribute name="type" default="Unknown">
			<!-- Basic GPML types are:
				"Protein", "Rna", "GeneProduct", "Metabolite", "Pathway" and "Unknown".
				It's recommended that you use these values as often as possible. -->
			<xsd:simpleType>
				<xsd:union>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="Unknown"/>
							<xsd:enumeration value="Rna"/>
							<xsd:enumeration value="Protein"/>
							<xsd:enumeration value="Complex"/>
							<xsd:enumeration value="GeneProduct"/>
							<xsd:enumeration value="Metabolite"/>
							<xsd:enumeration value="Pathway"/>
						</xsd:restriction>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string"/>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<!-- End: DataNode -->

	<!-- ###################################################################### -->

	<!-- 
		State 
        Always linked to a DataNode representing a specific state of the biological 
		entity (e.g. phosphorylation, genetic variants, etc)
    -->

	<xsd:complexType name="State">
		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup"/>
			<xsd:element name="Xref" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="dataSource" type="xsd:string" use="required"/>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>

		<!-- Graphics related attributes-->
		<xsd:attribute name="relX" type="xsd:float" use="required"/>
		<xsd:attribute name="relY" type="xsd:float" use="required"/>
		<xsd:attribute name="width" type="gpml:Dimension" use="required" />
		<xsd:attribute name="height" type="gpml:Dimension" use="required" />
		<xsd:attributeGroup ref="gpml:ShapeStyleAttributes"/>
		<xsd:attribute name="fillColor" type="gpml:ColorType" default="White"/>
		<xsd:attribute name="shapeType" type="xsd:string" default="Rectangle"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<!-- End Graphics related attributes-->

		<xsd:attribute name="graphId" type="xsd:ID" use="required" />

		<!-- TODO: I think this should be required since a state always needs to be linked to a DataNode -->
		<xsd:attribute name="graphRef" type="xsd:IDREF" use="required" />

		<xsd:attribute name="textLabel" use="required" type="xsd:string"/>

		<xsd:attribute name="stateType" type="xsd:string" default="Unknown"/>
		<!-- Biological modification type. suggested values: Phosphorylated, Glycosylated, Activated, ... !-->

	</xsd:complexType>
	<!-- End: State -->

	<!-- ###################################################################### -->

	<!-- 
		Grapical Line, Interaction  
        These are the only elements which can be used to connect data nodes, for
        implementing any kind of connections or interactions.
		Interactions represent biological relation between entities - should always be attached
		to DataNodes
		GraphicalLines are graphical annotations without semantic meaning
    -->

	<xsd:complexType name="GraphicalLine">
		<xsd:sequence>

			<xsd:group ref="gpml:CommentGroup" />

			<xsd:element name="Point" minOccurs="2" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="x" type="xsd:float" use="required" />
					<xsd:attribute name="y" type="xsd:float" use="required" />
					<!-- relX and relY are the coordinates used when
					a point is linked to another object (when graphRef
					is defined). They represent he coordinates of the
					point relative to the object that it's linked to, where
					0,0 lies at the center of the object and 1,1 at the bottom-right
					corner -->
					<xsd:attribute name="relX" type="xsd:float" use="optional" />
					<xsd:attribute name="relY" type="xsd:float" use="optional" />
					<xsd:attribute name="graphRef" type="xsd:IDREF" use="optional" />
					<xsd:attribute name="graphId" type="xsd:ID" use="required" />
					<!-- Note: only the arrowHead attribute on first and last points are used, the rest is ignored. !-->
					<xsd:attribute name="arrowHead" default="Line" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Anchor" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="position" type="xsd:float" use="required" />
					<xsd:attribute name="graphId" type="xsd:ID" use="required" />
					<xsd:attribute name="shape" default="None" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>


		<!-- Graphics related attributes-->
		<xsd:attribute name="color" type="gpml:ColorType" default="Black" />
		<xsd:attribute name="lineThickness" type="xsd:float"/>
		<xsd:attribute name="lineStyle" type="gpml:StyleType" default="Solid" />
		<xsd:attribute name="connectorType" type="xsd:string" use="optional" default="Straight"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<!-- End Graphics related attributes-->

		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />


		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		<xsd:attribute name="type" type="xsd:string" use="optional" />
	</xsd:complexType>
	<!-- End: Graphical Line -->

	<!-- Interaction -->
	<xsd:complexType name="Interaction">
		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup" />

			<xsd:element name="Xref" minOccurs="1" maxOccurs="1">
				<xsd:complexType>
					<xsd:attribute name="dataSource" type="xsd:string" use="required"/>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Point" minOccurs="2" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="x" type="xsd:float" use="required" />
					<xsd:attribute name="y" type="xsd:float" use="required" />
					<!-- relX and relY are the coordinates used when
					a point is linked to another object (when graphRef
					is defined). They represent he coordinates of the
					point relative to the object that it's linked to, where
					0,0 lies at the center of the object and 1,1 at the bottom-right
					corner -->
					<xsd:attribute name="relX" type="xsd:float" use="optional" />
					<xsd:attribute name="relY" type="xsd:float" use="optional" />
					<xsd:attribute name="graphRef" type="xsd:IDREF" use="optional" />
					<xsd:attribute name="graphId" type="xsd:ID" use="required" />
					<!-- Note: only the arrowHead attribute on first and last points are used, the rest is ignored. !-->
					<xsd:attribute name="arrowHead" default="Line" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="Anchor" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="position" type="xsd:float" use="required" />
					<xsd:attribute name="graphId" type="xsd:ID" use="required" />
					<xsd:attribute name="shape" default="None" type="xsd:string" />
				</xsd:complexType>
			</xsd:element>


		</xsd:sequence>


		<!-- Graphics related attributes-->
		<xsd:attribute name="color" type="gpml:ColorType" default="Black" />
		<xsd:attribute name="lineThickness" type="xsd:float"/>
		<xsd:attribute name="lineStyle" type="gpml:StyleType" default="Solid" />
		<xsd:attribute name="connectorType" type="xsd:string" use="optional" default="Straight"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<!-- End Graphics related attributes-->

		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />


		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		<xsd:attribute name="type" type="xsd:string" use="optional" />
	</xsd:complexType>
	<!-- End: Interaction -->

	<!-- ###################################################################### -->

	<!-- 
		Label
        An element to attach simple labels to the pathway
		No semantic meaning - graphical attributes
    -->

	<xsd:complexType name="Label">

		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup"/>
		</xsd:sequence>

		<!-- Graphics related attributes-->
		<xsd:attributeGroup ref="gpml:RectAttributes"/>
		<xsd:attributeGroup ref="gpml:FontAttributes" />
		<xsd:attributeGroup ref="gpml:ShapeStyleAttributes" />
		<xsd:attribute name="fillColor" type="gpml:ColorType" default="Transparent"/>
		<xsd:attribute name="shapeType" type="xsd:string" default="None"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<!-- End Graphics related attributes-->

		<!-- for a reference to a url !-->
		<xsd:attribute name="href" use="optional" type="xsd:string" />

		<!-- TODO: does a label need a publication xref? -->
		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />

		<xsd:attribute name="textLabel" use="required" type="xsd:string"/>
	</xsd:complexType>

	<!-- End: Label -->

	<!-- ###################################################################### -->

	<!-- 
		Shape
        Graphical elements - shapes with or without a text label
    -->

	<xsd:complexType name="Shape">
		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup" />
		</xsd:sequence>

		<!-- Graphics related attributes-->
		<xsd:attributeGroup ref="gpml:RectAttributes"/>
		<xsd:attributeGroup ref="gpml:FontAttributes" />
		<xsd:attributeGroup ref="gpml:ShapeStyleAttributes" />
		<xsd:attribute name="fillColor" type="gpml:ColorType" default="Transparent"/>
		<xsd:attribute name="shapeType" type="xsd:string" use="required"/>
		<xsd:attribute name="zOrder" type="xsd:integer" use="optional"/>
		<xsd:attribute name="rotation" type="gpml:RotationType" default="Top" />
		<!-- End Graphics related attributes-->

		<!-- TODO: does a shape need a publication xref? -->
		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />

		<xsd:attribute name="textLabel" use="optional" type="xsd:string"/>
	</xsd:complexType>

	<!-- End: Shape -->

	<!-- ###################################################################### -->

	<!-- 
		Group
		Elements in the pathway can be grouped. 
		Basic GPML group styles are: 
		None, Pathway, Group, Complex
	-->

	<xsd:complexType name="Group">
		<xsd:sequence>
			<xsd:group ref="gpml:CommentGroup" />
		</xsd:sequence>

		<!-- TODO: needed? -->
		<xsd:attribute name="groupId" type="xsd:string" use="optional" />

		<!-- TODO: can a group be part of a group? -->
		<xsd:attribute name="groupRef" type="xsd:string" use="optional" />

		<xsd:attribute name="style" type="xsd:string" default="None" />
		<xsd:attribute name="textLabel" type="xsd:string" use="optional" />
		<xsd:attribute name="graphId" type="xsd:ID" use="required" />
	</xsd:complexType>
	<!-- End: Group -->

	<!-- ###################################################################### -->

	<!-- 
		InfoBox, Legend
		General properties/annotations of the pathway
	-->

	<xsd:complexType name="InfoBox">
		<!-- InfoBox element holds the coordinates where name and organism are displayed in the pathway -->
		<xsd:attribute name="centerX" type="xsd:float" use="required"/>
		<xsd:attribute name="centerY" type="xsd:float" use="required"/>
	</xsd:complexType>
	<!-- End: InfoBox -->

	<!-- Legend -->
	<xsd:complexType name="Legend">
		<xsd:attribute name="centerX" type="xsd:float" use="required"/>
		<xsd:attribute name="centerY" type="xsd:float" use="required"/>
	</xsd:complexType>
	<!-- End: Legend -->


	<!-- ###################################################################### -->

	<!-- 
		Citations
		List of all Citations referred in the pathway
	-->

	<xsd:complexType name="Citations">
		<xsd:sequence>
			<xsd:element name="Citation" minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: should we use a graphId to reference the publication xrefs or create another unique id -->
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Xref" minOccurs="0" maxOccurs="1">
							<xsd:complexType>
								<xsd:attribute name="ID" type="xsd:string" use="required"/>
								<xsd:attribute name="dataSource" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="Author" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:attribute name="name" type="xsd:string" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="citationId" type="xsd:ID" use="required" />
					<xsd:attribute name="title" use="required"/>
					<xsd:attribute name="year" use="optional"/>
					<xsd:attribute name="URL" use="required"/>
					<xsd:attribute name="source" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- End: Citations -->

	<!-- ###################################################################### -->

	<!-- 
		OntologyTerms
		List of all OntologyTerms used for the pathway
	-->
	<xsd:complexType name="OntologyTerms">
		<xsd:sequence>
			<xsd:element name="OntologyTerm" minOccurs="0" maxOccurs="unbounded">
				<!-- TODO: should we use a graphId to reference ontologyTermyTag or create another unique id -->
				<xsd:complexType>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
					<xsd:attribute name="term" type="xsd:string" use="required"/>
					<xsd:attribute name="ontology" type="xsd:string" use="required"/>
					<xsd:attribute name="ontologyTermId" type="xsd:ID" use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OntologyTermRefs">
		<xsd:sequence>
			<xsd:element name="OntologyTermRef" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CitationRefs">
		<xsd:sequence>
			<xsd:element name="CitationRef" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:attribute name="ID" type="xsd:string" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
